@charset "UTF-8";
body {
  max-width: 1500px;
  margin: auto;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Shrikhand", cursive;
}

h2 {
  font-family: "Shrikhand", cursive;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

span {
  font-family: "Roboto", sans-serif;
}

.btn {
  cursor: pointer;
  padding: 14px 20px;
  min-width: 190px;
  border-radius: 50px;
  border-width: 0px;
  -webkit-box-shadow: 3px 4px 11px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 4px 11px 5px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  background: linear-gradient(170deg, #FF79DA 0%, #9356DC 100%);
  font-weight: 600;
  margin: 30px 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.direction {
  background-color: white;
  border: none;
  cursor: pointer;
  position: relative;
  bottom: 85px;
  left: 15px;
  font-size: 1.5em;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
  padding-top: 25px;
}

@media screen and (min-width: 320px) {
  .logo {
    padding-bottom: 20px;
  }
  img {
    width: 210px;
  }
  form {
    position: relative;
    top: 30px;
    right: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .logo {
    vertical-align: baseline;
  }
  img {
    width: 270px;
  }
  form {
    position: relative;
    top: 20px;
    right: 10px;
    font-size: 1.5em;
  }
}

.containloading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background-color: white;
  opacity: 1;
  -webkit-animation: appearance 3s both;
          animation: appearance 3s both;
}

.containloading h1 {
  margin-bottom: 40px;
  margin-left: 20px;
  color: black;
  font-weight: 900;
}

.containloading__loading {
  /* création du loader*/
  border: 10px solid #cecece;
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #FF79DA;
  border-left: 10px solid #99E2D0;
  border-right: 10px solid #f8ec42;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-animation: spin 1.5s linear infinite;
          animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes appearance {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes appearance {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

.search {
  font: inherit;
  vertical-align: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5;
  background-color: #dbdbdb;
}

.search__icone {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  margin-right: 20px;
}

.search__text {
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  margin: 5px 0;
  color: black;
  font-weight: 900;
}

footer {
  background-color: #353535;
  color: #ffffff;
  padding: 20px;
}

footer h2 {
  font-size: 28px;
}

footer ul {
  color: #ffffff;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-auto-flow: column;
}

footer li {
  color: #ffffff;
  list-style: none;
  list-style-type: none;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  margin: 5px 0;
  font-size: 20px;
}

footer li i {
  color: #ffffff;
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  margin-right: 20px;
  width: 20px;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-weight: 900;
}

footer li a {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
  font-size: 22.5px;
}

@media screen and (max-width: 640px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contain {
  margin-bottom: 0px;
  background-color: #f1f1f1;
  padding-bottom: 150px;
}

.dinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dinner__image {
  width: 100%;
  height: 600px;
}

.dinner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding-top: 20px;
  background-color: #f1f1f1;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  bottom: 70px;
}

.dinner__title {
  font-size: 2em;
}

.dinner i {
  margin-top: 30px;
  font-size: 2.1em;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
}

.menu__selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 60px;
}

.menu__title {
  font-weight: bold;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
}

.menu__contain {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 0px 98px;
  grid-auto-flow: row;
}

.menu__container {
  background-color: white;
  padding: 7px;
  border-radius: 15px;
  line-height: 10px;
  width: 400px;
  height: 65px;
}

.menu__container span {
  position: relative;
  left: 365px;
  bottom: 25px;
}

.menu__bouton {
  margin-left: 625px;
  width: 200px;
}

@media screen and (min-width: 320px) {
  .contain {
    width: auto;
  }
  .dinner__image {
    width: auto;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .dinner__title {
    font-size: 1.3em;
  }
  .dinner i {
    font-size: 1.5em;
    margin-top: 21px;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu__contain {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    gap: 30px 0px;
    grid-auto-flow: column;
  }
  .menu__container {
    width: 290px;
  }
  .menu__container h3 {
    font-size: 15px;
  }
  .menu__container p {
    font-size: 12px;
  }
  .menu__container span {
    position: relative;
    left: 250px;
    font-size: 0.9em;
  }
  .menu__bouton {
    margin-left: 60px;
  }
}

@media screen and (min-width: 375px) {
  .dinner__title {
    font-size: 1.5em;
  }
  .dinner i {
    font-size: 1.7em;
    margin-top: 21px;
  }
  .menu__container {
    width: 350px;
  }
  .menu__container h3 {
    font-size: 17px;
  }
  .menu__container p {
    font-size: 15px;
  }
  .menu__container span {
    position: relative;
    left: 310px;
  }
  .menu__bouton {
    margin-left: 90px;
  }
}

@media screen and (min-width: 425px) {
  .dinner__title {
    font-size: 1.7em;
  }
  .dinner i {
    font-size: 1.8em;
    margin-top: 27px;
  }
  .menu__container {
    width: 400px;
  }
  .menu__container h3 {
    font-size: 18px;
  }
  .menu__container p {
    font-size: 16px;
  }
  .menu__container span {
    position: relative;
    left: 360px;
  }
  .menu__bouton {
    margin-left: 120px;
  }
}

@media screen and (min-width: 634px) {
  .dinner .dinner__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .dinner__title {
    margin-left: 30px;
    font-size: 1.7em;
  }
  .dinner i {
    font-size: 1.8em;
    margin-left: 335px;
  }
  .menu__container {
    width: 610px;
  }
  .menu__container h3 {
    font-size: 20px;
  }
  .menu__container p {
    font-size: 18px;
  }
  .menu__container span {
    position: relative;
    left: 570px;
  }
  .menu__bouton {
    margin-left: 200px;
  }
}

@media screen and (min-width: 768px) {
  .dinner__title {
    font-size: 2em;
  }
  .dinner i {
    margin-left: 430px;
  }
  .menu__container {
    width: 740px;
  }
  .menu__container span {
    position: relative;
    left: 680px;
    font-size: 1em;
  }
  .menu__bouton {
    margin-left: 260px;
  }
}

@media screen and (min-width: 1024px) {
  .dinner i {
    margin-left: 650px;
  }
  .menu__container {
    width: 1000px;
  }
  .menu__container span {
    position: relative;
    left: 930px;
  }
  .menu__bouton {
    margin-left: 410px;
  }
}

@media screen and (min-width: 1440px) {
  .dinner__title {
    font-size: 2.5em;
  }
  .dinner i {
    font-size: 3em;
    margin-left: 1000px;
  }
  .menu__contain {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    gap: 0px 40px;
    grid-auto-flow: row;
  }
  .menu__container {
    width: 435px;
  }
  .menu__container h3 {
    font-size: 20px;
  }
  .menu__container p {
    font-size: 19px;
  }
  .menu__container span {
    position: relative;
    left: 385px;
  }
  .menu__bouton {
    margin-left: 700px;
  }
}

/* Présentation */
.presentation {
  margin: 0;
  border: 0;
  vertical-align: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 30px 20px;
  background-color: #F1F1F1;
}

.presentation__title {
  text-align: center;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 1.4rem;
  margin: 10px 0;
}

.presentation__text {
  text-align: center;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-weight: 200;
  font-size: 17px;
  margin: 10px 0;
}

/* filtres */
.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.filters__title {
  margin-left: 10px;
}

.filters__List {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.filters__filter {
  background-color: #f0efef;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 46px;
  border: 2px solid #f2f2f2;
  border-left: none;
  margin-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
}

.filters__filter:hover {
  background-color: #f0cffd;
  color: purple;
}

.filters__number {
  margin-left: -10px;
  margin-right: 10px;
  background-color: #9356dc;
  border-radius: 40px;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.filters__filter span {
  padding-left: 12px;
}

/* Restaurant */
.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f2f2f2;
  padding: 20px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.restaurants__tableau {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 30px;
  margin: 30px 0 50px;
}

.restaurants__cadre {
  display: -ms-grid;
  display: grid;
  height: 345px;
  -ms-grid-rows: 1fr 40%;
      grid-template-rows: 1fr 40%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 5px solid #fff;
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 7px #c1c1c1;
          box-shadow: 0 0 7px #c1c1c1;
  cursor: pointer;
}

.restaurants__cadre img {
  width: 100%;
  height: 255px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants__new {
  color: green;
  background-color: #99e2d0;
  width: 60px;
  padding-bottom: 7px;
  padding-top: 7px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 2px;
  position: absolute;
  margin-left: 600px;
}

.restaurants__description {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.restaurants__description h3 {
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 17px;
  margin: 10px 0;
  margin-left: 5px;
}

.restaurants__description p {
  padding: 0;
  border: 0;
  font-size: 17px;
  vertical-align: baseline;
  margin: 10px 0;
  margin-left: 5px;
}

.restaurants__description i {
  position: relative;
  left: 27em;
  bottom: 2em;
  font-size: 1.5em;
}

/*
@media screen and (max-width: 1440px) {
  .filters {
    &__title {
      margin-left: 10px;
    }
  }
  .restaurants {
    display: flex;
    flex-direction: column;
    &__cadre {
      height: 360px;
    }
    &__new {
      position: absolute;
      margin-left: 36em;
    }
    &__description h3 {
      font-size: 25px;
      margin-left: 5px;
    }
    &__description p {
      font-size: 20px;
      margin-left: 5px;
    }
    &__description i {
      position: relative;
      left: 615px;
      font-size: 1.7em;
    }
  }
}

@media screen and (max-width: 1024px) {
  .filters {
    &__title {
      margin-left: 10px;
    }
  }
  .restaurants {
    display: flex;
    flex-direction: column;
    &__cadre {
      height: 360px;
    }
    &__new {
      position: absolute;
      margin-left: 360px;
    }
    &__description h3 {
      font-size: 20px;
      margin-left: 5px;
    }
    &__description p {
      font-size: 18px;
      margin-left: 5px;
    }
    &__description i {
      position: relative;
      left: 425px;
      font-size: 1.7em;
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .filters {
    display: flex;
    flex-direction: column;
    &__title {
      margin-left: 10px;
    }
    &__List {
      display: flex;
      flex-direction: column;
    }
    &__filter {
      margin-bottom: 20px;
      width: auto;
    }
  }
  .restaurants {
    display: flex;
    flex-direction: column;
    &__cadre {
      height: 350px;
    }
    &__new {
      position: absolute;
      margin-left: 245px;
    }
    &__description h3 {
      font-size: 20px;
      margin-left: 5px;
    }
    &__description p {
      font-size: 18px;
      margin-left: 5px;
    }
    &__description i {
      position: relative;
      left: 300px;
      margin-top: 0px;
      font-size: 1.5em;
    }
  }
}

@media screen and (max-width: 640px) {
  .restaurants {
    display: flex;
    flex-direction: column;
    &__tableau {
      display: flex;
      flex-direction: column;
    }
    &__new {
      position: absolute;
      left: 270px;
    }
    &__description h3 {
      font-size: 19px;
      margin-left: 5px;
    }
    &__description p {
      font-size: 19px;
      margin-left: 5px;
    }
    &__description i {
      position: relative;
      left: 540px;
      margin-top: 0px;
      font-size: 1.5em;
    }
  }
}
*/
/*# sourceMappingURL=styles.css.map */