@charset "UTF-8";
body {
  max-width: 1500px;
  margin: auto;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Shrikhand", cursive;
}

h2 {
  font-family: "Shrikhand", cursive;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

span {
  font-family: "Roboto", sans-serif;
}

.btn {
  cursor: pointer;
  padding: 14px 20px;
  min-width: 190px;
  border-radius: 50px;
  border-width: 0px;
  -webkit-box-shadow: 3px 4px 11px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 4px 11px 5px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  background: linear-gradient(170deg, #FF79DA 0%, #9356DC 100%);
  font-weight: 600;
  margin: 30px 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.direction {
  background-color: white;
  border: none;
  cursor: pointer;
  position: relative;
  bottom: 85px;
  left: 15px;
  font-size: 1.5em;
}

header {
  padding-bottom: 10px;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 0px;
  padding-top: 25px;
}

header img {
  width: 140px;
}

header form {
  position: relative;
  top: 55px;
  right: 10px;
}

.containloading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background-color: white;
  opacity: 1;
  -webkit-animation: appearance 3s both;
          animation: appearance 3s both;
}

.containloading h1 {
  margin-bottom: 40px;
  margin-left: 20px;
  color: black;
  font-weight: 900;
}

.containloading__loading {
  /* création du loader*/
  border: 10px solid #cecece;
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #FF79DA;
  border-left: 10px solid #99E2D0;
  border-right: 10px solid #f8ec42;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-animation: spin 1.5s linear infinite;
          animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes appearance {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes appearance {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

.search {
  margin-left: 0px;
  font: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 15px;
  background-color: #dbdbdb;
}

.search__icone {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  margin-right: 20px;
}

.search__text {
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  margin: 5px 0;
  color: black;
  font-weight: 900;
}

footer {
  background-color: #353535;
  color: #ffffff;
  padding: 20px;
}

footer h2 {
  font-size: 28px;
}

footer ul {
  color: #ffffff;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-auto-flow: column;
}

footer li {
  color: #ffffff;
  list-style: none;
  list-style-type: none;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  margin: 5px 0;
  font-size: 20px;
}

footer li i {
  color: #ffffff;
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  margin-right: 20px;
  width: 20px;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-weight: 900;
}

footer li a {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
  font-size: 22.5px;
}

@media screen and (max-width: 640px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contain {
  margin-bottom: 0px;
  background-color: #f1f1f1;
  padding-bottom: 90px;
}

/* partie image et container titre + coeur */
.dinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dinner__imagecontain {
  width: 100%;
  height: 350px;
}

.dinner__image {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.dinner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding-top: 20px;
  background-color: #f1f1f1;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  bottom: 60px;
}

.dinner__title {
  position: relative;
  left: 20px;
  font-size: 1.3em;
}

.dinner i {
  position: absolute;
  right: 6%;
  font-size: 1.5em;
  margin-top: 21px;
}

.dinner .fas {
  background: -webkit-linear-gradient(270deg, #9356dc 0%, #ff79da 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  -webkit-transition: all 0.8s linear;
  transition: all 0.8s linear;
}

.dinner .fas:hover {
  opacity: 1;
}

/* partie menu */
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
}

.menu__contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.menu__title {
  font-weight: bold;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
}

.menu__container {
  background-color: white;
  padding: 7px;
  border-radius: 15px;
  line-height: 10px;
  margin-bottom: 20px;
  width: 94%;
  height: 75px;
  position: relative;
  -webkit-animation: apparition 1.5s ease-in-out;
          animation: apparition 1.5s ease-in-out;
}

.menu__container:hover h3 {
  width: 190px;
}

.menu__container:hover p {
  width: 175px;
}

.menu__container:hover span {
  position: absolute;
  -webkit-transform: translate(-60px, 9px);
          transform: translate(-60px, 9px);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.menu__container:hover svg {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.menu__container:hover .menu__container__check {
  opacity: 1;
  width: 70px;
}

.menu__container:nth-child(1) {
  -webkit-animation: apparition 1s ease-in-out;
          animation: apparition 1s ease-in-out;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.menu__container:nth-child(2) {
  -webkit-animation: apparition 1s ease-in-out;
          animation: apparition 1s ease-in-out;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.menu__container:nth-child(3) {
  -webkit-animation: apparition 1s ease-in-out;
          animation: apparition 1s ease-in-out;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.menu__container:nth-child(4) {
  -webkit-animation: apparition 1s ease-in-out;
          animation: apparition 1s ease-in-out;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.menu__container h3 {
  padding: 4px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 15px;
}

.menu__container p {
  padding: 4px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 13px;
}

.menu__container span {
  position: relative;
  bottom: 31%;
  left: 87%;
  font-size: 0.9em;
}

.menu__container__check {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 0px;
  height: 89px;
  background: #99e2d0;
  position: absolute;
  right: 0px;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.menu__container__check svg {
  width: 1.5em;
  padding: 5px;
  background: white;
  color: #99e2d0;
  border-radius: 50px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.menu__bouton {
  position: relative;
  left: 24%;
  width: 200px;
}

@-webkit-keyframes apparition {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes apparition {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

/* responsive tablette*/
@media screen and (min-width: 768px) and (max-width: 992px) {
  .menu__container:hover h3 {
    width: 250px;
  }
  .menu__container:hover p {
    width: 250px;
  }
  .menu__container:hover span {
    position: absolute;
    -webkit-transform: translate(-80px, 9px);
            transform: translate(-80px, 9px);
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
  }
  .menu__container:hover svg {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
  }
  .menu__container:hover .menu__container__check {
    opacity: 1;
    width: 90px;
  }
  .menu__container span {
    position: relative;
    bottom: 31%;
    left: 94%;
    font-size: 0.9em;
  }
  .menu__bouton {
    position: relative;
    left: 34%;
  }
}

/* responsive desktop*/
@media screen and (min-width: 993px) {
  .dinner__imagecontain {
    width: 100%;
    height: 480px;
  }
  .dinner__image {
    width: 100%;
    height: 460px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .dinner__title {
    font-size: 2em;
  }
  .dinner i {
    font-size: 2em;
  }
  .menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    gap: 0% 1.5%;
    grid-auto-flow: row;
  }
  .menu__bouton {
    position: relative;
    left: 115%;
    top: 45%;
  }
}

/* Présentation */
.presentation {
  margin: 0;
  border: 0;
  vertical-align: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 30px 20px;
  background-color: #F1F1F1;
}

.presentation__title {
  text-align: center;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 1.4rem;
  margin: 10px 0;
}

.presentation__text {
  text-align: center;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-weight: 200;
  font-size: 17px;
  margin: 10px 0;
}

/* filtres */
.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.filters__title {
  margin-left: 10px;
}

.filters__List {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.filters__filter {
  background-color: #f0efef;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  margin-top: 20px;
  height: 46px;
  border: 2px solid #f2f2f2;
  border-left: none;
  margin-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
}

.filters__filter:hover {
  background-color: #f0cffd;
  color: purple;
}

.filters__number {
  margin-left: -10px;
  margin-right: 10px;
  background-color: #9356dc;
  border-radius: 40px;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.filters__filter span {
  padding-left: 12px;
}

/* Restaurant */
.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f2f2f2;
  padding: 20px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.restaurants__tableau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurants__cadre {
  display: -ms-grid;
  display: grid;
  height: 345px;
  -ms-grid-rows: 1fr 40%;
      grid-template-rows: 1fr 40%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 5px solid #fff;
  border-radius: 15px;
  position: relative;
  -webkit-box-shadow: 0 0 7px #c1c1c1;
          box-shadow: 0 0 7px #c1c1c1;
  cursor: pointer;
  margin-bottom: 30px;
}

.restaurants__cadre img {
  width: 100%;
  height: 255px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.restaurants__new {
  color: green;
  background-color: #99e2d0;
  width: 60px;
  padding-bottom: 7px;
  padding-top: 7px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 2px;
  position: absolute;
  left: 66.4%;
}

.restaurants__description {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.restaurants__description h3 {
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 17px;
  margin: 10px 0;
  margin-left: 5px;
}

.restaurants__description p {
  padding: 0;
  border: 0;
  font-size: 17px;
  vertical-align: baseline;
  margin: 10px 0;
  margin-left: 5px;
}

.restaurants__heart {
  width: 0;
  height: 0;
  position: relative;
  bottom: 93px;
  left: 83%;
}

.restaurants i {
  position: absolute;
  font-size: 1.7em;
}

.restaurants .fas {
  background: -webkit-linear-gradient(270deg, #9356dc 0%, #ff79da 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  -webkit-transition: all 0.8s linear;
  transition: all 0.8s linear;
}

.restaurants .fas:hover {
  opacity: 1;
}

/* responsive tablette */
@media screen and (min-width: 768px) and (max-width: 992px) {
  .restaurants__new {
    color: green;
    background-color: #99e2d0;
    width: 60px;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 2px;
    position: absolute;
    left: 86.5%;
  }
  .restaurants__description h3 {
    font-size: 20px;
  }
  .restaurants__description p {
    font-size: 20px;
  }
  .restaurants__heart {
    position: relative;
    left: 93%;
  }
}

/* responsive desktop*/
@media screen and (min-width: 993px) {
  .filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .filters__List {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .filters__filter {
    width: 25%;
  }
  .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .restaurants__tableau {
    height: 780px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .restaurants__cadre {
    margin-right: 2%;
    margin-left: 3%;
  }
  .restaurants__new {
    position: absolute;
    left: 80%;
  }
  .restaurants__heart {
    position: relative;
    left: 44.5%;
    bottom: 13%;
  }
}
/*# sourceMappingURL=styles.css.map */