.search {
  margin-left: 0px;
  font: initial;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
  background-color: #dbdbdb;
  &__icone {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    margin-right: 20px;
  }
  &__text {
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    margin: 5px 0;
    color: black;
    font-weight: 900;
  }
}



