.search {
  margin-left: 10px;
  font: initial;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
  background-color: #dbdbdb;
  &__icone {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    margin-right: 20px;
  }
  &__text {
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    margin: 5px 0;
    color: black;
    font-weight: 900;
  }
}

@media screen and (min-width: 320px) {
  .search{
    width: 305px;
  }
}

@media screen and (min-width: 375px) {
  .search{
    width: 360px;
  }
}

@media screen and (min-width: 425px) {
  .search{
    width: 410px;
  }
}

@media screen and (min-width: 634px) {
  .search{
    width: 619px;
  }
}

@media screen and (min-width: 768px) {
  .search{
    width: 753px;
  }
}

@media screen and (min-width: 1024px) {
  .search{
    width: 1009px;
  }
}

@media screen and (min-width: 1440px) {
  .search{
    width: 1425px;
  }
}

@media screen and (min-width: 1500px) {
  .search{
    width: 1485px;
  }
}


