header {
  padding-bottom: 10px;
  .logo {
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
    padding-top: 25px;
  }
  & img {
    width: 140px;
  }
  & form {
    position: relative;
    top: 55px;
    right: 10px;
  }
}
