.containloading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: white;
  opacity: 1;
  animation: appearance 3s both;
  & h1 {
    margin-bottom: 40px;
    margin-left: 20px;
    color: black;
    font-weight: 900;
  }
  &__loading {
    /* création du loader*/
    border: 10px solid #cecece;
    border-top: 10px solid $colour-primaire;
    border-bottom: 10px solid $colour-secondaire;
    border-left: 10px solid $colour-tertiaire;
    border-right: 10px solid $colour-border;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes appearance {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
