body {
  max-width: 1500px;
  margin: auto;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Shrikhand", cursive;
}

h2 {
  font-family: "Shrikhand", cursive;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

span {
  font-family: "Roboto", sans-serif;
}
