.contain {
  margin-bottom: 0px;
  background-color: #f1f1f1;
  padding-bottom: 90px;
}
.dinner {
  display: flex;
  flex-direction: column;
  &__imagecontain {
    width: 100%;
    height: 700px;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  &__container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 20px;
    background-color: #f1f1f1;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: relative;
    bottom: 60px;
  }
  &__title {
    font-size: 2em;
  }

  i {
    margin-top: 30px;
    font-size: 2.1em;
    position: absolute;
  }
  .fas {
    background: -webkit-linear-gradient(
      270deg,
      rgba(147, 86, 220, 1) 0%,
      rgba(255, 121, 218, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transition: all 0.8s linear;
  }

  .fas:hover {
    opacity: 1;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  &__selection {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }
  &__title {
    font-weight: bold;
    border-bottom: 3px solid $colour-tertiaire;
    width: 40px;
  }
  &__contain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 0px 98px;
    grid-auto-flow: row;
  }
  &__container {
    background-color: white;
    padding: 7px;
    border-radius: 15px;
    line-height: 10px;
    width: 400px;
    height: 65px;
    position: relative;
    animation: apparition 1s ease-in-out;
    &:hover {
      &  p{
        width: 180px;
      }
      & span {
        position: absolute;
        transform: translate(-47px, 9px);
        transition-duration: 1s;
      }
      svg {
        transform: rotate(360deg);
        transition-duration: 1s;
      }
      .menu__container__check {
        opacity: 1;
        width: 70px;
      }
    }
  }
  &__container:nth-child(1) {
    animation: apparition 1s ease-in-out;
    animation-delay: 0.2s;
  }
  &__container:nth-child(2) {
    animation: apparition 1s ease-in-out;
    animation-delay: 0.4s;
  }
  &__container:nth-child(3) {
    animation: apparition 1s ease-in-out;
    animation-delay: 0.6s;
  }
  &__container p {
    padding-top: 2px;
    padding-bottom: 3px;
    width: max-content;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__container span {
    position: relative;
    left: 365px;
    bottom: 30px;
  }
  &__container__check {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 0px;
    height: 78px;
    background: #99e2d0;
    position: absolute;
    right: 0px;
    top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 1s;
  }

  &__container__check svg {
    width: 1.5em;
    padding: 5px;
    background: white;
    color: #99e2d0;
    border-radius: 50px;
    transition: all 1s;
  }

  &__bouton {
    margin-left: 625px;
    width: 200px;
  }
}

@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (min-width: 320px) {
  .contain {
    width: auto;
  }
  .dinner {
    &__imagecontain {
      width: 100%;
      height: 350px;
    }
    &__image {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }

    &__title {
      position: relative;
      left: 20px;
      font-size: 1.3em;
    }
    & i {
      position: absolute;
      right: 20px;
      font-size: 1.5em;
      margin-top: 21px;
    }
  }

  .menu {
    display: flex;
    &__contain {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 30px 0px;
      grid-auto-flow: column;
    }
    &__container {
      width: 290px;
    }
    &__container h3 {
      font-size: 15px;
    }
    &__container p {
      font-size: 13px;
    }
    &__container span {
      position: relative;
      left: 250px;
      font-size: 0.9em;
    }
    &__bouton {
      margin-left: 60px;
    }
  }
}

@media screen and (min-width: 375px) {
  .dinner {
    &__title {
      font-size: 1.5em;
    }
    & i {
      font-size: 1.7em;
      margin-top: 21px;
    }
  }
  .menu {
    &__container {
      width: 350px;
    }
    &__container h3 {
      font-size: 17px;
    }
    &__container p {
      font-size: 15px;
    }
    &__container span {
      position: relative;
      left: 310px;
    }
    &__bouton {
      margin-left: 90px;
    }
  }
}

@media screen and (min-width: 425px) {
  .dinner {
    &__title {
      font-size: 1.7em;
    }
    & i {
      font-size: 1.8em;
      margin-top: 27px;
    }
  }
  .menu {
    &__container {
      width: 400px;
    }
    &__container h3 {
      font-size: 18px;
    }
    &__container p {
      font-size: 16px;
    }
    &__container span {
      position: relative;
      left: 360px;
    }
    &__bouton {
      margin-left: 120px;
    }
  }
}

@media screen and (min-width: 634px) {
  .dinner {
    &__imagecontain {
      width: 100%;
      height: 500px;
    }
    .dinner__container {
      display: flex;
      justify-content: start;
    }
    &__title {
      position: relative;
      left: 20px;
      font-size: 1.7em;
    }
    & i {
      font-size: 1.8em;
      position: absolute;
      right: 20px;
    }
  }

  .menu {
    &__container {
      width: 610px;
    }
    &__container h3 {
      font-size: 20px;
    }
    &__container p {
      font-size: 18px;
    }
    &__container span {
      position: relative;
      left: 570px;
    }
    &__bouton {
      margin-left: 200px;
    }
  }
}

@media screen and (min-width: 768px) {
  .dinner {
    &__title {
      font-size: 2em;
    }
  }
  .menu {
    &__container {
      width: 740px;
    }
    &__container span {
      position: relative;
      left: 680px;
      font-size: 1em;
    }
    &__bouton {
      margin-left: 260px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .dinner {
    &__imagecontain {
      width: 100%;
      height: 600px;
    }
    &__container {
      position: relative;
      bottom: 100px;
    }
  }
  .menu {
    position: relative;
    bottom: 85px;
    &__container {
      width: 1000px;
    }
    &__container span {
      position: relative;
      left: 930px;
    }
    &__bouton {
      margin-left: 410px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .dinner {
    &__imagecontain {
      width: 100%;
      height: 700px;
    }
    &__title {
      font-size: 2.5em;
    }
    & i {
      font-size: 3em;
    }
  }
  .menu {
    &__contain {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      gap: 0px 40px;
      grid-auto-flow: row;
    }
    &__container {
      width: 435px;
    }
    &__container h3 {
      font-size: 20px;
    }
    &__container p {
      font-size: 19px;
    }
    &__container span {
      position: relative;
      left: 385px;
    }
    &__bouton {
      margin-left: 700px;
    }
  }
}
